<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e1a3316f82.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
   
</head>
<body id="clrblk">
  
   <!-- Main component for a primary marketing message or call to action -->
      <div class="wrap">
        <h1 style="margin-right: 50px;">Welcome!</h1></br>
          <a class="dashBtn" href="/home/profile" role="button">Profile view »</a>
      </div>
    
</body>
</html>